In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
# create new coloumns for calculations 
# create column for Per Student Budget
school_data_complete['Per Student Budget'] = (school_data_complete["budget"] / school_data_complete["size"])

# create new column for math
school_data_complete_math = school_data_complete.loc[school_data_complete['math_score'] >= 70, 'PassedMath'] = 'True'

# create new column for reading
school_data_complete_read = school_data_complete.loc[school_data_complete['reading_score'] >= 70, 'PassedReading'] = 'True'

# create new column for math & reading
school_data_complete_all = school_data_complete.loc[(school_data_complete['PassedMath'] == 'True') & (school_data_complete['PassedReading'] == 'True'), 'PassedAll'] = 'True'

In [6]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_df = school_data_complete.groupby(['school_name','type'])

# Calculate the total number of students
student_sum = grouped_df["size"].max()

# Total School Budget
total_school_budget = grouped_df["budget"].max()

# Per Student Budget
student_budget = grouped_df["Per Student Budget"].max()

# Average Math Score
avg_math_grouped = round(grouped_df["math_score"].mean(), 2)

# Average Reading Score
avg_reading_grouped = round(grouped_df["reading_score"].mean(), 2)

# % Passing Math
math_passing = round((grouped_df["PassedMath"].count()  / student_sum)*100, 2)

# % Passing Reading
reading_passing = round((grouped_df["PassedReading"].count() / student_sum)*100, 2)

# % Overall Passing (The percentage of students that passed math and reading.)
all_passing = round((grouped_df["PassedAll"].count() / student_sum)*100, 2)

In [7]:
# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"Total Students": student_sum,
                                  "Total School Budget": total_school_budget,
                                  "Per Student Budget": student_budget,
                                  "Average Math Score": avg_math_grouped,
                                  "Average Reading Score": avg_reading_grouped,
                                  "% Passing Math" : math_passing,
                                  "% Passing Reading" : reading_passing,
                                  "% Overall Passing" : all_passing})

# Use Map to format all the columns
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)

school_summary_df

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,93.33,96.61,90.33

In [8]:
# Create an overview table that summarizes key metrics about each school, including:

# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# % Overall Passing (The percentage of students that passed math and reading.)
# Create a dataframe to hold the above results

In [9]:
# Top Performing Schools (By % Overall Passing)
# Sort and display the top five performing schools by % overall passing.

top_schools = school_summary_df.nlargest(5, "% Overall Passing")
top_schools

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

In [10]:
# Bottom Performing Schools (By % Overall Passing)
# Sort and display the five worst-performing schools by % overall passing.
bottom_schools = school_summary_df.nsmallest(5, "% Overall Passing")
bottom_schools

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,type,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54